<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seleção
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group (ionChange)="verificaSelecionado($event)">
      <ion-list-header>
        <ion-label>
          Linguagens
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-label>C#</ion-label>
        <ion-radio value="C"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Java</ion-label>
        <ion-radio value="Java"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Pyton</ion-label>
        <ion-radio value="Pyton"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
